<div class="cta elevated">
  <div
    class="p-8 md:p-10 grid grid-flow-row sm:grid-flow-col gap-x-8 items-center justify-between"
  >
    <section class="md:mr-4">
      <h3>Contribute to the Genics Blog!</h3>

      <p>
                Welcome to the Tecroxy writer community! We are always looking for talented writers who are passionate about technology, anime, business, and startups to contribute high-quality articles to our site.
      </p>
    </section>

    <a
      class="px-4 py-1.5 mt-8 md:mt-0 md:ml-4 linkbtn underline-none font-bold text-lg"
      href="{{ site.baseurl }}/contribute"
    >
      Contribute
    </a>
  </div>
</div>
