<footer class="px-12 py-8 text-center">

  © 2023<a href="{{ site.baseurl }}/">{{ site.title }}</a>

  <br />

  Built with
  <a
    href="https://tecroxy.com"
    target="_blank"
    rel="nofollow noopener noreferrer"
    >Tecroxy</a
  >. Created by
  <a
    href="{{ site.baseurl }}/about"
    target="_blank"
    rel="nofollow noopener noreferrer"
    >Surajit</a
  >.

  <br /><br />

  <a
    class="nav-item {% if page.url contains '/contact' %}text-slate-400{% else %}text-white{% endif %}"
    href="{{ site.baseurl }}/contact"
    >Contact Us</a
  >

  <a
    class="nav-item {% if page.url contains '/privacy-policy' %}text-slate-400{% else %}text-white{% endif %}"
    href="{{ site.baseurl }}/privacy-policy"
    >Privacy Policy</a
  >

  <a
    class="nav-item {% if page.url contains '/about' %}text-slate-400{% else %}text-white{% endif %}"
    href="{{ site.baseurl }}/about"
    >About Us</a
  >

</footer>
